body {
background-image: url(/kepek/black.png);
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;

}


main {
  width: 900px;
  margin: 0 auto;
  background: #928f8f;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}


header img {
  width: 100%;
  margin: 0 auto;
}

nav {
  background-color: rgb(58, 57, 57);
  width: 100%;
  justify-content: center;
  gap: 40px;
  padding: 12px 0;
  margin-bottom: 20px;
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}



article {
  padding: 10px;
  text-align: justify;
}

article img {
  width: 200px; 
  margin: 0 0 10px 20px; 
  padding: 4px; 
  float: right;
 
}

footer{
clear: both;
text-align: center;
background-color: yellow;

}



